.divider {
  display: flex;
  align-items: center;
  margin: 24px 0;
  color: #888;
  font-size: 14px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #444;
  }

  span {
    padding: 0 10px;
  }
}

.socialButtons {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  .socialBtn {
    height: 60px;
    flex: 1;
    border-radius: 8px;
    background-color: #111;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #222;
    }

    img,
    svg {
      width: 30px;
      height: auto;
      color: white;
    }
  }
}
